* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

main {
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0,0,0,0.1), -30px 0px 40px rgba(0,0,0,0.1);
}

/* Utility */
.btn-primary {
    display: inline-block;
    width: 50%;
    margin-top: 1rem;
    padding: 0.9rem;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    background-color: #000000;
    color: #eeeeee;
}

.logo {
    font-size: 2rem;
    font-family: "Pacifico", cursive;
    margin-top: -0.7rem;
}

.lead {
    font-size: 3rem;
}

.title {
    font-size: 3rem;
    font-family: "Pacifico", cursive;
}

.subtitle {
    font-family: "Pacifico", cursive;
    font-size: 1rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.color-primary {
    color: #ff1e56;
}

.iphone-x {
    height: 50vh;
    width: auto;
}

.avatar {
    height: 200px;
    display: inline-block;
    border-radius: 50%;
}

/* Navbar */
#navbar {
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}   

#navbar .navbar-container {
    padding: 1rem;
}

#navbar .navbar-container ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: -0.8rem;
}

#navbar .navbar-container ul li {
    padding: 1rem;
}

/* Showcase */
#showcase {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5) url('../img/showcase.jpg') no-repeat center center/cover;
    background-blend-mode: color;
    color: white; 
    text-align: center;
}

#showcase .showcase-container {
    width: 80%;
}

/* About */
#about {
    padding: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.items .item {
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    font-size: 1.1rem;
}

/* Testimonials */
.testimonials-container {
    padding: 2rem;
    font-size: 1.1rem;
}

.testimonials-container .testimonials-content {
   padding: 1rem;
}

/* gallery */
#gallery {
    max-width: 80vw;
    margin: auto;
    text-align: center;
}

.gallery-content {
    padding: 1rem;
}

.gallery {
    display: inline-block;
    width: 100%;
    border-radius: 10px;
}

/* Footer */
footer {
    padding: 1.5rem;
    text-align: center;
    background: #000000;
    color: #ccc;
}

/* 500px */
@media(min-width: 500px) {
    .btn-primary {
        width: 30%;
    }

    .subtitle {
        font-family: "Pacifico", cursive;
        font-size: 1.5rem;
    }

    .title {
        font-size: 3rem;
    }

    .iphone-x {
        height: 60vh;
    }

    .avatar {
        height: 25vh;
    }
    
    /* Navbar */
    #navbar {
        display: flex;
        align-items: center;
        height: 80px;
    }
    #navbar .navbar-container {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80vw;
    }
    
    .navbar-container ul {
        margin-bottom: -0.8rem;
    }

    /* About */
    #about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2rem 1fr;
        grid-column-gap: 3rem;
        max-width: 80vw;
        margin: auto;
        height: 100vh;
    }

    #about-title {
        width: 100%;
        grid-row: 1;
        grid-column: 1 / span 2;
    }

    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        grid-column: 1;
        grid-row: 2;
    }

    .items {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .items .item {
        display: flex;
        padding: 1.5rem;
        margin-left: 20px;
        text-align: left;
        font-size: 1.2rem;
        font-weight: 400;
    }

    .items .item p {
        margin-left: 10px;
    }

    .testimonials-container {
        grid-row: 2;
        margin: auto;
    }

    .testimonials-content {
        display: flex;
        align-items: center;
        padding: 1rem;
        text-align: left;
    }

    .testimonials-content:nth-child(2) {
        flex-direction: row-reverse;
        text-align: right;
    }

    .testimonials-content p {
        margin: 0 1rem;
        font-size: 1.2rem;
        font-weight: 400;
    }

    #gallery {
        margin: auto;
        height: 100vh;
    }

    .gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }

    .gallery-content {
        padding: 1rem;
    }

    .gallery {
        width: 30vw;
    }
}